@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

@font-face {
    font-family: Vintage;
    src: url(assets/Vintage-Regular/VIntage.woff);
}

* {
    box-sizing: border-box;
    font-family: -apple-system, "josefin sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3ECD1;
}

img {
    margin-left: 40px;
    margin-top: 18px;
    max-width: 100%;
    height: auto;
    width: 150px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
}

img:hover {
    transform: scale(1.02);
    transition: all 0.2s ease 0s;
}


div.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    font-family: "Vintage";
    color: #347326;
    font-size: 80px;
    font-weight: 400;
}

hr {
    background-color: #7F5C29;
    height: 5px;
    width: 300px;
    border-radius: 34px;
    margin-top: 15px;
    margin-bottom: 30px;
}

input {
    background: #FFFFFF;
    border: 0;    
    border-radius: 34px;
    font-size: 20px;
    padding: 16px 20px 12px;
    width: 350px;
    margin: 10px;
}

input::placeholder {
    color: #BEBEBE;
}

input[type="submit"] {
    color: #367227;
    background: rgba(54, 114, 39, 0.17);
    padding: 12px 40px 8px;
    margin: 30px;
    width: 150px;
    transition: all 0.1s ease 0s;
    cursor: pointer;
}

input[type="submit"]:hover {
    transform: scale(1.1);
    transition: all 0.1s ease 0s;
}

p {
    color: #7F5C29;
    font-size: 20px;
    margin: 0;
}

a {
    color: #347326;
    cursor: pointer;
}

a:hover {
    filter: brightness(125%);
}

.info {
    background: #F9F5E7;
    margin: 80px;
    padding: 80px;
    font-size: 20px;
    border-radius: 34px;
    box-shadow: 10px 10px;
}

h2 {
    font-size: 64px;
}

.info p {
    margin: 20px 0 10px;
}

td {
    padding: 10px 30px 10px 0px;
}

#logout {
    margin: 0;
}